body {
    margin: 0;
    background: url('https://i.pinimg.com/originals/94/d8/fc/94d8fcd12fa17160b3adea1805693339.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

#list-paste {
    height: auto;
}

.one-paste {
    min-height: 10vh;
    background-color: whitesmoke;
    opacity: 0.95;
    margin-top: 5vh;
    padding: 50px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.deleted-paste {
    min-height: 10vh;
    background-color: tomato;
    opacity: 0.95;
    margin-top: 5vh;
    padding: 50px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.max-paste {
    min-height: 10vh;
    background-color: slategray;
    opacity: 0.95;
    margin-top: 5vh;
    padding: 50px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}